<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="{{.Site.BaseURL}}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{.Site.BaseURL}}/style.css">
    </head>
    <body style="padding: 20px">
        <div class="container">
            <div class="row" 
                 style="margin-bottom: 5em;
                        color: #0077ca;">
                <div style="display: table">
                    <img style="display: table-cell;
                                height : 60px;
                                padding-right: 2.18em;"
                        src="{{.Site.BaseURL}}/UOIT_RGB.jpg"></img>
                    <a style="display: table-cell;
                                 padding-left: 2.18em;
                                 padding-right: 0.18em;
                                 border-left: 1px solid #003c71;
                                 vertical-align: bottom;"
                        href="http://science.uoit.ca/">
                        Faculty of Science &nbsp / <br>&nbsp;</a>
                    <a style="display: table-cell;
                                 padding-left: 0.18em;
                                 vertical-align: bottom;"
                        href="https://uoit.ca/programs/science/computer-science-regular-and-co-op.php">
                        Computer Science<br>&nbsp;</a>

                </div>
            </div>
